{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Sign Up</h3>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{field.label_tag}}
                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class='form-control is-invalid' %}
                                    {% for err in field.errors %}
                                        <div class="invalid-feedback">
                                            {{err}}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class='form-control is-valid' %}
                                {% endif %}

                            {% else %}
                                {% render_field field class='form-control' %}
                            {% endif %}

                            {% if field.help_text %}
                            <small class="form-text text-muted">
                                {{field.help_text}}
                            </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Create Account</button>
                </form>
            </div>
            <div class="card-footer text-muted text-center">
                Already have an account ? <a href="{% url 'login' %}">Log In</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}